# rust ignores
target/

# ts-rs bindings
packages/backend/bindings

# secrets
.env.*

# certificate for local testing
packages/backend/cert/

# nodejs packages
node_modules/
dist/

# auto generated database schema files.
packages/backend/src/database.rs
packages/faker/src/database.ts
