# rust ignores
target/

# ts-rs bindings
packages/backend/bindings

# secrets
.env.*

# certificate for local testing
packages/backend/cert/

# nodejs packages
node_modules/
dist/

# generated cst file
packages/ger-sql-to-rust-struct/cst.json
